/**
* Accordeon
*/
details {
    /* fermé et ouvert */
    display: flex !important;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    flex-direction: row;
    width: 150px;
    transition: width 0.5s ease-in;
    position: relative;
}

details[open] {
    width: 400px;
    / ouvert */ gap: 10px;
    transition: 0.5s ease-in;

}
details>summary {
    position: absolute;
    top: 0;
    left: 0;
}
.accordeon {
    display: flex;
    gap: 10px;

}

details>div {
    width: 300px;
    padding-left: 130px;
}

